.box_newsletter {
  margin-top: 60px; }
  .box_newsletter h2 {
    color: #FFFFFF;
    text-align: center;
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    margin-top: 5px; }
  .box_newsletter strong {
    height: 14px;
    color: #15FFFD;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 900;
    line-height: 14px;
    text-align: center; }
  .box_newsletter .line-form {
    margin-top: 30px;
    border-bottom: 1px solid #FFFFFF; }
